body {
  background-color: palegoldenrod;
  margin:0px;
  }

h2 {
  color: indianred;
font-family : serif;
}
a {
  color: indianred;
  text-decoration: none;
}

nav {
  background-color: beige;
  box-sizing:border-box;
  display: flex; 
  justify-content:space-between;
  padding:10px 40px;
}
footer {
  background-color: beige;
  text-align:center;
}